Source: etbe-desktop
Section: admin
Priority: optional
Maintainer: Russell Coker <russell@coker.com.au>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.8

Package: etbe-desktop
Architecture: all
Depends: gdm3|sddm, konsole, kmail, plasma-desktop, plasma-workspace, gwenview, dolphin, kwin-x11, systemsettings, mpv, kde-standard, kwin-x11, qml-module-org-kde-newstuff
Description: Basic dependencies for etbe desktop
